*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

@import url ('https://fonts.googleapis.com/css2? família=Roboto:ital,wght@0,100;0.900;1.400edisplay=swap');
